  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Gestion Oceanne inc. trouvez le logement idéal pour vous!</h2>
              <div class="wrapperButtons">
                <a href="immeubles.html" class="btn btn-default btn-xl wow tada">Appartements à louer</a>
                <a href="immeublescommercial.html" class="btn btn-default btn-default--margin-left btn-xl wow tada">Locaux commerciaux</a>
              </div>
          </div>
      </div>
  </aside>
