<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous avons ce dont vous avez besoin!</h2>
                <hr class="light">
                <p class="text-faded">
                  Gestion Océanne inc. s’occupe de trouver le logement qui répond le mieux à vos besoins. Nous mettons donc à votre profit, toutes nos années d’expérience et notre professionnalisme.                 </p>
                <a href="#" class="btn btn-default btn-xl">Logements à louer</a>
            </div>
        </div>
    </div>
</section>
