<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous avons ce dont vous avez besoin!</h2>
                <hr class="light">
                <p class="text-faded">
                  Depuis 1998, Gestion Océanne inc. s’occupe de trouver le logement qui répond le mieux à vos besoins. Nous mettons donc à votre profit, toutes nos années d’expérience et notre professionnalisme. Mme Concetta Di Blasio, directrice de Gestion Océanne inc., travaille avec énergie afin d’offrir un service personnalisé à tous ses locataires. L’équipe est très fière d’avoir fait de la satisfaction de sa clientèle, sa priorité. Impliqué au niveau social, Gestion Océanne inc. travaille en étroite collaboration avec Immigration Canada afin de faciliter l’arrivée de familles immigrantes ayant choisi la région de Québec comme nouveau lieu de résidence.
                </p>
                <a href="immeubles.html" class="btn btn-default btn-xl">Logements à louer</a>
            </div>
        </div>
    </div>
</section>
