<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Allons entrer en contact!</h2>
        <hr class="primary">
        <p>Prêt à demenager? C'est génial! Appelez-nous ou envoyez-nous un courriel et nous vous répondrons dans les meilleurs délais!</p>
      </div>
    </div>
    <div class="row">
      <div class="footer__box">
        <ul class="footer__list">
          <li class="footer__listItem">
            <img src="img/logo.png" alt="Gestion Oceanne Inc.">
          </li>
          <li class="footer__listItem">
            <p>Siège social, Québec</p>
            <p><b>Gestion Océanne Inc.</b></p>
            <addrees>3025 chemin Ste-Foy (G1X 1P7)</addrees>
          </li>
          <li class="footer__listItem">
            <p>Téléphone: (1) 418 627 7448</p>
            <p>Courriel: info@gestionoceanne.com</p>
            <p>Ville de Québec - Canada</p>
          </li>
          <li class="footer__listItem">
            <a href="immeubles.html">Immeubles à logements</a><br>
            <a href="immeublescommercial.html">Immeubles commercial</a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        Gestion Océanne Inc. | Tous droits réservés | Conception <a href="http://javiermorato.herokuapp.com/" target="_blank">Javier Morato</a>
      </div>
    </div>
  </div>
</section>
