<header>
  <ul class="cb-slideshow">
  	<li>
  		<span></span>
      <div class="header-content-inner">
        <h1>image 1</h1>
        <hr>
        <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
  	</li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>image 2</h1>
        <hr>
        <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
    </li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>image 3</h1>
        <hr>
        <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
    </li>
  </ul>
</header>
