<header>
  <ul class="cb-slideshow">
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>logements à québec</h1>
        <p>Pour tous les goûts et tous les budgets</p>
        <a href="immeubles.html" class="btn btn-primary btn-xl">Consulter</a>
      </div>
    </li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>Immeubles à bureaux</h1>
        <p>Vous êtes à la recherche d'un local à louer, d'un immeuble commercial?</p>
        <a href="immeublescommercial.html" class="btn btn-primary btn-xl">Consulter</a>
      </div>
    </li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>Bienvenue aux familles immigrantes</h1>
        <p>Nous proposons des appartements de qualité dans la région de Québec.</p>
        <a href="immeubles.html" class="btn btn-primary btn-xl">À louer</a>
      </div>
    </li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>Logement à louer</h1>
        <p>Vous recherchez un  pour votre famille?</p>
        <a href="immeubles.html" class="btn btn-primary btn-xl">À louer</a>
      </div>
    </li>
  	<li>
      <span></span>
      <div class="header-content-inner">
        <h1>Trouvez votre logement</h1>
        <p>Nous trouvons un appartement pour vous</p>
        <a href="immeubles.html" class="btn btn-primary btn-xl">Consulter</a>
      </div>
    </li>
    <li>
  		<span></span>
      <div class="header-content-inner">
        <h1>propriétaires</h1>
        <p>Profitez de vos investissements sans tracas</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Nos services</a>
      </div>
  	</li>
  </ul>
</header>
