<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

        {% for immeuble in site.data.immeubles %}

            <div class="col-lg-4 col-sm-6">
                    {% if immeuble.complet %}
                        <a class="portfolio-box">
                    {% else %}
                        <a href="{{immeuble.url}}?immeuble={{immeuble.parametre}}" class="portfolio-box">
                    {% endif %}
                
                    <img src="{{immeuble.img}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{immeuble.type}}
                            </div>
                            <div class="project-name">
                                {{immeuble.name}}
                            </div>

                            {% if immeuble.complet %}
                                <span class="project-complet">Complet</span>
                            {% else %}
                                <span class="project-complet"></span> 
                            {% endif %}
                            
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
            
        </div>
    </div>
</section>
