.cb-slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    list-style-type: none;
    padding: 0;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li .header-content-inner {
    z-index: 1000;
    position: absolute;
    bottom: 30%;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}


.cb-slideshow li:nth-child(1) span {
    background-image: url(../img/slider/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../img/slider/2.jpg);
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../img/slider/3.jpg);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../img/slider/4.jpg);
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../img/slider/5.jpg);
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../img/slider/6.jpg);
    animation-delay: 30s;
}


.cb-slideshow li:nth-child(2) .header-content-inner {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) .header-content-inner {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) .header-content-inner {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) .header-content-inner {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) .header-content-inner {
    animation-delay: 30s;
}

/* Animation for the slideshow images */
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Animation for the title */

@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
