html,
body {
    height: 100%;
    width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-secondary {
  background-color: $theme-secondary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
    font-weight: 100;
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}



.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }

    .wrapperButtons {
      text-align: center;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-default--margin-left {
  margin-left: 20px;
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

.loading {
  margin-top: 55px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='9.35756' width='4' height='12.2849' fill='%23247ba0'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3Crect x='10' y='5.35756' width='4' height='20.2849' fill='%2370c1b3'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.15s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.15s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3Crect x='20' y='8.64244' width='4' height='13.7151' fill='%23ff1654'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.3s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.3s' dur='0.6s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/svg%3E%0A");
  }
}
