.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 22;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperCenter {
  flex-grow: 1;
  flex-shrink: 1;
  width: 80%;
  height: 80%;
  max-width: 680px;
  z-index: 23;
  padding: 10px;
  position: relative;

  .image-gallery {
    padding: 0;
  }
}

.wrapperRow {
  display: flex;
}

.gallery {
  background: rgba($font-inverse, .5);
}

.gallery,
.mapGoogle {
  flex: 1 1;
  width: 50%;
}

.wrapperCenter__close {
  position: absolute;
  top: 75px;
  right: 30px;
  background: transparent;
  border: none;
  color: $font-inverse;
  z-index: 10;
  outline: none;
  width: 40px;
  height: 30px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.showApto__description {
  background: $font-inverse;
  padding: 8px;
}

.showApto__adresse {
  background: $font-inverse;
  font-size: 20px;
  padding: 5px;
}

.showApto__prix {
  position: absolute;
  top: 20px;
  left: 0;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  background: $theme-primary;
  color: $font-inverse;

  span {
    font-size: 12px;
    opacity: .5;
  }
}
