.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 22;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperCenter {
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
  height: 70%;
  max-width: 500px;
  background: #FFF;
  z-index: 23;
  padding: 10px;
  position: relative;

  .image-gallery {
    padding: 0;
  }
}

.wrapperCenter__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, .4);
  border: none;
  color: #fff;
  z-index: 1;
  outline: none;
}
